
server:
  #keycloak이 기본 port로 8080을 사용하기때문에 변경
  port: 8081

spring:
  application:
    name: resource-server
  security:
    oauth2:
      resourceserver:
        jwt:
          # 토큰 발행하는 인증 서버 uri
          issuer-uri: http://localhost:8080/auth/realms/appsdeveloperblog
          # 공개키 uri
          jwk-set-uri: http://localhost:8080/auth/realms/appsdeveloperblog/protocol/openid-connect/certs

# 유레카 서버에 인스턴스로 등록하도록 유레카 서버의 주소를 명시
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8010/eureka
